{% extends 'base.html' %}
{% load static %}

{% block title %}
История использования
{% endblock %}

{% block content %}
<h1 class="pb-2 mb-0">История запросов</h1>
<hr />
<p>
  Транслятор с Pascal на Python является учебным проектом. Данный проект был
  создан на занятиях по теории языков программирования и компиляторам во время
  обучения на 3-м курсе по направлению "Программная инженерия".
</p>

{% if history %}
  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="col-md-1">#</th>
          <th scope="col" class="col-md-1">IP-адрес</th>
          <th scope="col" class="col-md-2">Дата и время</th>
          <th scope="col" class="col-md-3">Pascal-код</th>
          <th scope="col" class="col-md-3">Python-код</th>
          <th scope="col" class="col-md-2">Информация</th>
          <th scope="col" class="col-md-2">Ошибки</th>
        </tr>
      </thead>
      <tbody>
        {% for token in history reversed%}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ token.ip_address }}</td>
          <td>{{ token.req_date|date:"d E Y"}}</td>
          <td>{{ token.pascal_code|linebreaksbr|default:"-" }}</td>
          <td>{{ token.python_code|linebreaksbr|default:"-" }}</td>
          <td>{{ token.translating_info|default:"-" }}</td>
          <td>{{ token.translating_errors|default:"-" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <p>История запросов пуста.</p>
{% endif %}

{% endblock %}

{% block include_scripts %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
