{% extends 'base.html' %}
{% block title %}
  О проекте
{% endblock %}
{% block content %}
  <h1 class="pb-2 mb-0">О проекте</h1>
  <hr/>

  <svg style="display: none;">
    <symbol id="icon-link" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9q-.13 0-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
        <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4 4 0 0 1-.82 1H12a3 3 0 1 0 0-6z"/>    
    </symbol>
  </svg>

  <div>
    <p>Транслятор с Pascal to Python является учебным проектом.</p>
    <p>Проект выполняется студентами группы Б9121-09.03.04 направления подготовки Программная инженерия в рамках дисциплин «Теория языков программирования и компиляторы» (подсистема транслятора) и «Технологии коллективной промышленной разработки информационных систем» (подсистема вебсайта).</p>
    <ul>
      <li>Д.О. Верховцов - студент Б9121-09.03.04, программист, тестировщик;</li>
      <li>М.А. Омельченко - студент Б9121-09.03.04, старший разработчик, программист;</li>
      <li>Ю.Д. Коринецкая - студент Б9121-09.03.04, тестировщик, документовед.</li>
    </ul>  
  </div>

  <div>
    <p>
      В рамках работы над проектом были выполнены следующие курсовые работы и проекты:
    </p>
    <ul style="list-style-type: none; padding-left: 0;">
      <li>
        <a href="https://drive.google.com/file/d/1rKv80oYow2ILn5WCfcd-FAoq0igRPqkH/view?usp=sharing" target="_blank">
          <svg width="16" height="16" fill="currentColor"><use href="#icon-link"></use></svg>
          6 курс -  Теория языков программирования и компиляторы
        </a>
      </li>
      <li>
        <a href="https://drive.google.com/file/d/1mgygDcnXEIAjZomKc0ZGp7lPQW2c0Phc/view?usp=sharing" target="_blank">
          <svg width="16" height="16" fill="currentColor"><use href="#icon-link"></use></svg>
          7 курс -  Теория языков программирования и компиляторы
        </a>
      </li>
      <li>
        <a href="https://drive.google.com/file/d/1I_H_RtpEMRqaEGrTPyU8VefFoMKH5dF_/view?usp=sharing" target="_blank">
          <svg width="16" height="16" fill="currentColor"><use href="#icon-link"></use></svg>
          8 курс -  Технологии коллективной промышленной разработки информационных систем
        </a>
      </li>
    </ul>
  </div>

  <div>
    В текущей версии транслятора реализовано преобразование циклов (поддерживается цикл for), математических операндов, логических операндов, стандартных ключевых слов.
  </div>

{% endblock %}
