{% extends 'base.html' %}
{% block title %}
  О проекте
{% endblock %}
{% block content %}
  <h1 class="pb-2 mb-0">О проекте</h1>
  <hr />

  <p>Транслятор с Pascal to Python является учебным проектом. Данный проект зарадившился на занятиях по теории языков программирования и компиляторам во время обучения на 3-м курсе по направлению Программная инженерия.</p>
  <p>Проект выполняется студентами группы Б9121-09.03.04 направления подготовки Программная инженерия:</p>
  <ul>
    <li>Д.О. Верховцовым;</li>
    <li>М.А. Омельченко;</li>
    <li>Ю.Д. Коринецкой;</li>
  </ul>
{% endblock %}
