{% extends 'base.html' %}
{% block title %}
  О проекте
{% endblock %}
{% block content %}
  <h1 class="pb-2 mb-0">О проекте</h1>
  <hr />

  <p>Транслятор с Pascal to Python является учебным проектом.</p>
  <p>Проект выполняется студентами группы Б9121-09.03.04 направления подготовки Программная инженерия в рамках дисциплин «Теория языков программирования и компиляторы» (подсистема транслятора) и «Технологии коллективной промышленной разработки информационных систем» (подсистема вебсайта).</p>
  <ul>
    <li>Д.О. Верховцов - студент Б9121-09.03.04, программист, тестировщик;</li>
    <li>М.А. Омельченко - студент Б9121-09.03.04, старший разработчик, программист;</li>
    <li>Ю.Д. Коринецкая - студент Б9121-09.03.04, тестировщик, документовед</li>
  </ul>
{% endblock %}
